[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
  ignore = untracked
[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
  ignore = untracked
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip
  ignore = untracked
[submodule "vim/bundle/clang_complete"]
	path = vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
  ignore = untracked
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
  ignore = untracked
[submodule "vim/bundle/vim-opencl"]
	path = vim/bundle/vim-opencl
	url = https://github.com/petRUShka/vim-opencl.git
  ignore = untracked
[submodule "vim/bundle/conque-term"]
	path = vim/bundle/conque-term
	url = https://github.com/rosenfeld/conque-term.git
  ignore = untracked
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
  ignore = untracked
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/vim-protobuf"]
	path = vim/bundle/vim-protobuf
	url = git://github.com/uarun/vim-protobuf.git
[submodule "vim/bundle/vim-neatstatus"]
	path = vim/bundle/vim-neatstatus
	url = git://github.com/maciakl/vim-neatstatus.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = git://github.com/elzr/vim-json.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-ipython"]
	path = vim/bundle/vim-ipython
	url = https://github.com/ivanov/vim-ipython.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
